<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<log4j:configuration
    xmlns:log4j="http://jakarta.apache.org/log4j/">


    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
         <layout class="org.apache.log4j.PatternLayout">
              <param name="ConversionPattern" value="%d %p [%c{5}] %m%n" />
         </layout>  
    </appender>
    
    <!-- Application Loggers -->
    <logger name="sim.model.impl.stoage.common">
        <level value="error"/>
    </logger>
    <logger name="sim.model.impl.stoage.commom.CreateStoateEvent">
        <level value="error"/>
    </logger>
    
    <logger name="sim.model.impl.stoage.atc">
        <level value="error"/>
    </logger>
    
    <logger name="sim.model.impl.stoage.block">
        <level value="error"/>
    </logger>
    
    <logger name="sim.model.impl.stoage.manager">
        <level value="error"/>
    </logger>
   	<logger name="sim.view.framework">
        <level value="debug"/>
    </logger>


 
    <!-- Root Logger -->
    <root>
        <level value="error" />
        <appender-ref ref="console" />
    </root>


    
</log4j:configuration>


